@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,800;1,400;1,800&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem 1rem 10rem 1rem;
    width: 600px;
}
.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.card form{
    display: flex;
    gap: 2rem;
    /* width: 80%; */
}

form .customInput{
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: rgb(113, 111, 111);
    text-transform: uppercase;
    gap: .3rem;
    padding: 0  0 2rem 0;
}

form .customInput label.error{
    color: rgb(255, 87, 87);
}

form .customInput label{
    font-size: 10px;
    font-weight: 700;
    color: rgb(84, 84, 84);
    letter-spacing: 0.2rem;
}

form .customInput input{
    border: 2px solid rgb(219, 219, 219);
    padding: .5rem .7rem;
    border-radius: .3rem;
    font-size: 22px;
    font-weight: 700;
    outline: none;
    width: 100px;
}

form .customInput input:focus{
    border: 1px solid rgb(84, 84, 84);
}

form .customInput input.error{
    border: 1px solid rgb(255, 87, 87);
}

.msgError, .invalidErrorMSG{
    display: none;
    color: rgb(255, 87, 87);
    text-transform: none;
}

.customInput input::-webkit-outer-spin-button, .customInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* BUTTON */
.card .btnContainer{
    display: flex;
    align-items: center;
}

.btnContainer hr{
    border: 1px solid rgb(219, 219, 219);
    width: 100%;
}
.card .btnCalculate{
    background-color: rgb(133, 77, 255);
    border-radius: 2rem;
    padding: .6rem;
    cursor: pointer;
    height: 4rem;
    transition: .5s ease-in-out;
}

.card .btnCalculate:hover{
    background-color: rgb(84, 84, 84);
}

.card .btnCalculate svg{
    padding: .3rem;
}


/* OUTPUT */
.card .output{
    margin-top: 2rem;
    font-size: 62px;
    font-weight: 800;
    font-style: italic;
}

.output .age{
    display: flex;
    justify-content: start;
}

.output .age:nth-child(1), .age:nth-child(2){
    margin-bottom: -20px;
}

.output .age span{
    color: rgb(133, 77, 255);
}

/* Responsivo */
@media only screen and (min-width: 320px) and (max-width: 600px){
    .card{
        width: 360px;
    }

    .container{
        padding: 1rem;
    }
    
    form .customInput{
        padding-bottom: 3rem;
    }

    form .customInput input{
        width: 88px;
    }

    .card .btnCalculate{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .card .output{
        margin-top: 3rem;
        font-size: 49px;
    }
}
